body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.image-section {
    flex: 2;
    width: 70%;
}

.image-section img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.form-section {
    flex: 1;
    width: 30%;
    background-color: white;
    padding: 40px;
    text-align: center;
}

h1 {
    color: #020253;
    font-size: 28px;
    font-weight: bold;
}

p {
    font-size: 16px;
    color: #020253;
}

label {
    display: block;
    text-align: right;
    font-weight: bold;
    color: #020253;
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    font-size: 14px;
    background-color: rgba(0, 0, 255, 0.1);
    color: #020253;
    direction: rtl;
    border-bottom: 2px solid darkblue;
    outline: none;
}

input:focus {
    border-bottom: 2px solid darkblue;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

button {
    background-color: #020253;
    color: white;
    border: none;
    padding: 8px 10px;
    width: 40%;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: 0;
}

button:hover {
    background-color: #1a1a66;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        width: 100vw;
    }

    .image-section {
        flex: none;
        width: 100vw;
        height: 30vh;
    }

    .image-section img {
        width: 100vw;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
        margin: 0;
        padding: 0;
    }

    .form-section {
        width: 95%;
        padding: 35px;
        border-radius: 12px;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
    }

    h1 {
        font-size: 28px;
        margin-bottom: 14px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
    }

    label {
        font-size: 16px;
        text-align: right;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    input {
        width: 90%;
        padding: 14px;
        font-size: 16px;
    }

    button {
        width: 98%;
        padding: 14px;
        font-size: 16px;
        margin-left: auto;
        margin-right: auto;
    }
}